.weather-app {
  max-width: 600px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    109.6deg,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );

  display: block;
  margin: 50px auto 0px auto;
  box-shadow: 10px 10px 20px rgba(124, 131, 138, 0.6);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
